.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;

    .btn {
        display: flex;
        align-items: center;
        column-gap: 9px;
        height: 36px;
        padding: 10px 18px;
        border-radius: 10px;
        background-color: var(--white);
        svg {
          fill: var(--black);
          width: 16px;
          height: 16px;
        }
        .text {
          font-size: 14px;
          line-height: 17px;
          font-weight: 500;
        }
      }
}