.wrapper {
  background-color: var(--secondary-bg);
}
.container {
  width: 100%;
  padding: 50px 0;
  @media (max-width: 1139px) {
    padding: 25px 0;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (max-width: 1139px) {
      margin-bottom: 20px;
    }
    .title {
      margin: 0;
      font-size: 34px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.04em;
      color: var(--dark-blue);
      @media (max-width: 1139px) {
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
      }
    }
    .actions {
      display: flex;
      align-items: center;
      column-gap: 30px;
      .link {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        color: var(--dark-blue);
        opacity: 1;
        transition: all 0.2s;
        &:hover {
          opacity: 0.6;
        }
      }
      .arrows {
        display: flex;
        align-items: center;
        column-gap: 16px;
        @media (max-width: 576px) {
          display: none;
        }
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid var(--secondary-bg);
          background-color: var(--secondary-bg);
          transition: all 0.2s;
          box-shadow: 0px 10px 15px rgba(129, 129, 129, 0.15);
          &:hover {
            border-color: var(--primary);
          }
        }
      }
    }
  }
  .shimmer {
    flex: 1 0 auto;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 24px;
  }
}
