.container {
  width: 100%;
  padding: 30px 0;
  @media (max-width: 1139px) {
    padding: 0 0 30px 0;
  }
  .header {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1139px) {
      margin-bottom: 15px;
    }
    .title {
      font-size: 54px;
      font-weight: 600;
      text-align: center;
      margin: 0;
      
      @media(max-width: 768px) {
          font-size: 38px;
      }
  
      @media(max-width: 576px) {
          font-size: 26px;
      }
    }

    .link {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .shimmer {
    flex: 1 0 auto;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
  }
}
