.wrapper {
  width: 500px;
  padding: 30px;
  @media (max-width: 576px) {
    width: 100%;
    padding: 16px;
  }
  .header {
    margin-bottom: 10px;
    .title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 32px;
      line-height: 39px;
      font-weight: 600;
      letter-spacing: -0.03em;
      color: var(--dark-blue);
      @media (max-width: 576px) {
        font-size: 27px;
        line-height: 33px;
      }
    }
    .text {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      color: var(--dark-blue);
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .resend {
    font-weight: 600;
    cursor: pointer;
  }
  .space {
    padding-top: 50px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    .item {
      display: flex;
      align-items: center;
      column-gap: 12px;
      .label,
      a {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: var(--dark-blue);
        cursor: pointer;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .action {
    width: 100%;
  }
  .otpContainer {
    @media (max-width: 768px) {
      gap: 0.1rem;
    }
    justify-content: space-between;
    gap: 0.5rem;
  }

  .input {
    width: 56px !important;
    height: 64px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 8px;
    outline: none;
    transition: all 0.2s linear;
    color: var(--secondary-black);
    justify-content: center;
    &:focus {
      border-color: var(--primary);
    }
    @media (max-width: 470px) {
      width: 50px !important;
      height: 50px;
      font-size: 16px;
    }
  }
}
