.wrapper {
  position: relative;
  min-width: 300px;
  max-width: 376px;
  padding: 30px;
  @media (max-width: 576px) {
    padding: 20px;
  }
  .text {
    text-align: center;
    padding: 36px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: var(--dark-blue);
    @media (max-width: 576px) {
      padding: 36px 0;
      font-size: 16px;
    }
  }
  .actions {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
    @media (max-width: 576px) {
      margin-top: 10px;
    }
  }
}
