.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
  }
  
  .wrapper {
    position: relative;
    width: 511px;
    height: 804px;
    z-index: 1;
    border-radius: 10px;
    @media (max-width: 576px) {
      width: 100dvw;
      height: 100dvh;
    }
    .loading {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0;
      background-color: #000;
      div {
        background-color: #000;
      }
    }
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--secondary-bg);
    background-color: var(--secondary-bg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.2s;
    filter: drop-shadow(0px 10px 15px rgba(129, 129, 129, 0.15));
    &:hover {
      border-color: var(--primary);
    }
    @media (max-width: 576px) {
      top: 25%;
      width: 100px;
      height: 50%;
      border: none;
      background-color: transparent;
      transform: none;
      border-radius: 0;
      svg {
        display: none;
      }
    }
  }
  .next {
    right: -95px;
    @media (max-width: 576px) {
      right: 0;
    }
  }
  .prev {
    left: -95px;
    @media (max-width: 576px) {
      left: 0;
    }
  }