.banner {
  display: block;
  flex: 0 1 24%;
  &:nth-child(2) {
    flex: 0 0 50%;
  }
  .wrapper {
    position: relative;
    height: 280px;
    border-radius: 24px;
    overflow: hidden;
  }
  @media (width < 576px) {
    flex: 0 0 90% !important;
  }
}
