.root {
  width: 100%;
  .container {
    background-color: var(--secondary-bg);
    .header {
      display: flex;
      align-items: center;
      column-gap: 16px;
      padding-top: 45px;
      padding-bottom: 26px;
      @media (max-width: 576px) {
        column-gap: 12px;
        padding: 16px 0;
      }
      .title {
        margin: 0;
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        color: var(--dark-blue);
        @media (max-width: 576px) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 3px;
        }
      }
    }
  }
  .wrapper {
    position: relative;
    padding: 36px 0;
    @media (max-width: 1139px) {
      padding: 15px 0;
    }
    .alert {
      display: flex;
      align-items: center;
      column-gap: 12px;
      width: 100%;
      min-height: 50px;
      padding: 8px 20px;
      margin-bottom: 24px;
      border-radius: 5px;
      background-color: rgba($color: #ff3d00, $alpha: 0.1);
      cursor: default;
    }
  }
}
