.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  margin-top: 40px;

  @media (max-width: 992px) {
    gap: 10px;
    margin-top: 22px;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .gridItem {
    border-radius: 15px;
    overflow: hidden;
    div {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        object-fit: cover;
        &:hover {
          filter: brightness(110%);
        }
      }
    }
  }

  .gridItem:nth-child(1) {
    height: 500px;
    grid-area: 1 / 1 / 4 / 5;

    @media (max-width: 900px) {
      grid-area: 1 / 1 / 4 / 5;
    }
  }

  .gridItem:nth-child(2) {
    height: 500px;
    grid-area: 1 / 5 / 4 / 7;

    @media (max-width: 900px) {
      grid-area: 4 / 1 / 7 / 3;
    }
  }
  .gridItem:nth-child(3) {
    height: 500px;
    grid-area: 1 / 7 / 4 / 9;
    @media (max-width: 900px) {
      grid-area: 4 / 3 / 7 / 5;
    }
  }
  .gridItem:nth-child(4) {
    height: 100%;
    grid-area: 4 / 1 / 6 / 3;
    @media (max-width: 900px) {
      grid-area: 7 / 1 / 9 / 3;
      height: 162px;
    }
  }

  .gridItem:nth-child(5) {
    height: 100%;
    grid-area: 4 / 3 / 6 / 5;
    @media (max-width: 900px) {
      grid-area: 7 / 3 / 9 / 5;
      height: 162px;
    }
  }
  .gridItem:nth-child(6) {
    height: 100%;
    grid-area: 4 / 5 / 6 / 9;
    @media (max-width: 900px) {
      grid-area: 9 / 1 / 11 / 5;
      height: 162px;
    }
  }
}
